		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">TeleMed Universal</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="#one">About Us</a>
						<a href="/sign-up">Sign Up</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>TeleMed Universal</h1>
				<a href="/sign-up" class="button special">Get Started</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Unlimited Access</h3>
							</header>
							<p>No “Per Video or Call" Fees, No Deductibles, No Copays, No Contracts</p>
						</article>
						<article>
							<header>
								<h3>24/7 Health Care</h3>
							</header>
							<p>Certified Doctors on Call Anytime, Anywhere<br></p>
						</article>
						<article>
							<header>
								<h3>Video/Phone Call</h3>
							</header>
							<p>All From the Comfort of Your Home. No Trips to the Office, No Chance to Contract Covid-19</p>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>About TeleMed Universal</h2>
						<p>24/7/365 DOCTOR ON CALL PLAN</p>
					</header>
					<div class="col text-center">
						<img src="images/about_img.jpg" alt="Pic 01">
					</div>
					<br>
					<footer>
						<p>TeleMed Universal links patients and doctors via video or phone. Members receive access to licensed doctors in their state to treat over 50 non-emergency medical conditions including the Flu. Use your landline, mobile, tablet or computer to speak and video call with a board-certified doctor in your state, anytime, day or night, weekends, holidays or while traveling.</p>
						<a href="/sign-up" class="button">Sign Up Now</a>
					</footer>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>How the Doctor Assists You</h2>
					</header>
					<div class="flex flex-2">
						<div class="box person">
							<div class="image">
								<img src="images/assists_img1.jpg" alt="Person 1">
							</div>
						</div>
						<div class="box person">
							<div class="image">
								<img src="images/assists_img2.jpg" alt="Person 2">
							</div>
						</div>
					</div>
					<div class="flex flex-3">
						<ul class="alt">
								<li>Common Cold</li>
								<li>Allergies</li>
								<li>Ear Problems</li>
								<li>Cough</li>
								<li>Diarrhea</li>
								<li>Pink Eye</li>
								<li>Sore Throat</li>
						</ul>
						<ul class="alt">
								<li>Nausea</li>
								<li>Headache</li>
								<li>Constipation</li>
								<li>Vomiting</li>
								<li>Respiratory Problems</li>
								<li>Nausea Fever</li>
								<li>Bronchitis</li>
						</ul>
						<ul class="alt">
								<li>Rashes</li>
								<li>Bruises</li>
								<li>Asthma</li>
								<li>Sports Injuries</li>
								<li>UTI (Females, 18+)</li>
								<li>And more</li>
							</ul>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Have Questions?</h3>

					<form id="support-form">

						<div class="field half first">
							<label for="name">Name</label>
							<div class="alert alert-light" id="name-alert" role="alert">
  								Please fill in a name.
							</div>
							<input id="support-name" name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<div class="alert alert-light" id="email-alert" role="alert">
  								Please fill in an email.
							</div>
							<input id="support-email" name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<div class="alert alert-light" id="message-alert" role="alert">
  								Please fill in a message.
							</div>
							<textarea name="message" id="support-message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<button value="Send Message" id="support-submit" class="button alt" type="submit">Submit</button>
						</ul>
					</form>
					<div class="inner">
					<div class="flex flex-3">
						<div class="copyright">
							TeleMed Universal LLC
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
						<ul class="legal">
							<li><a class= "legal" href="/terms-conditions">/ TERMS & CONDITIONS /</a><a class= "legal" href="/privacy"> PRIVACY POLICY /</a><a class= "legal" href="/refund-policy"> REFUND POLICY /</a></li>
						</ul>
					</div>
					</div>

			</footer>
			
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

