<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>TeleMed Universal</strong></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="generic.html">Purchase</a>
						<a href="#about-section" class="smoothscroll">About Us</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>TeleMed Universal</h1>
					</header>

					<div class="row">

						<div class="col-4">
							<span class="icon fa-globe"></span>
							<h3>Unlimited Access</h3>
							<p>No “Per Video or Call" Fees, No Deductibles, No Copays, No Contracts</p>
						</div>

						<div class="col-4">
							<span class="icon fa-stethoscope"></span>
							<h3>24/7 Health Care</h3>
							<p>Certified Doctors on Call Anytime, Anywhere</p>
						</div>

						<div class="col-4">
							<span class="icon fa-mobile"></span>
							<h3>Video/Phone Call</h3>
							<p>All From the Comfort of Your Home. No Trips to the Office, No Chance to Contract Covid-19</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
				</div>
			</section>

			<section id="about" class="wrapper">
				<a name="about-section"></a>
				<div class="inner">
					<header class="align-center">
						<h2>About TeleMed Universal</h2>
						<h3>24/7/365 DOCTOR ON CALL PLAN </h3>
					</header>
					<p>TeleMed Universal links patients and doctors via video or phone. Members receive access to licensed doctors in their state to treat over 50 non-emergency medical conditions including the Flu. Use your landline, mobile, tablet or computer to speak and video call with a board-certified doctor in your state, anytime, day or night, weekends, holidays or while traveling.</p>
					<div class="align-center">
					<img src="images/about_img.jpg"/>
					</div>
				</div>
			</section>

			<hr class="major" />

			<section id="section-3" class="wrapper align-center">
				<header class="align-center">
						<h2>How the Doctor Assists You</h2>
					</header>
				<div class="inner">
					<div class="align-center">
						<img src="images/assists_img1.jpg">
						<img src="images/assists_img2.jpg">
					</div>
					<br>
					<div class="row">
						<div class="col-4">
							<ul class="alt">
								<li>Common Cold</li>
								<li>Allergies</li>
								<li>Ear Problems</li>
								<li>Cough</li>
								<li>Diarrhea</li>
								<li>Pink Eye</li>
								<li>Sore Throat</li>
							</ul>
						</div>
						<div class="col-4">
							<ul class="alt">
								<li>Nausea</li>
								<li>Headache</li>
								<li>Constipation</li>
								<li>Vomiting</li>
								<li>Respiratory Problems</li>
								<li>Nausea Fever</li>
								<li>Bronchitis</li>
							</ul>
						</div>
						<div class="col-4">
							<ul class="alt">
								<li>Rashes</li>
								<li>Bruises</li>
								<li>Asthma</li>
								<li>Sports Injuries</li>
								<li>UTI (Females, 18+)</li>
								<li>And more</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Have Questions?</h3>

					<form id="support-form">

						<div class="field half first">
							<label for="name">Name</label>
							<div class="alert alert-light" id="name-alert" role="alert">
  								Please fill in a name.
							</div>
							<input id="support-name" name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<div class="alert alert-light" id="email-alert" role="alert">
  								Please fill in an email.
							</div>
							<input id="support-email" name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<div class="alert alert-light" id="message-alert" role="alert">
  								Please fill in a message.
							</div>
							<textarea name="message" id="support-message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<button value="Send Message" id="support-submit" class="button alt" type="submit">Submit</button>
						</ul>
					</form>

				</div>
			</footer>
			
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			{{!-- <script src="assets/js/main.js"></script> --}}

