<section class="section1" id="section1">



<div class="container">

	<div class="row">

		

	

		

		<div class="col-md-11">

			 <h1 align="center">TeleMed Universal PRIVACY POLICY</h1>
			<p align="left">EFFECTIVE DATE: January 1, 2020. INTRODUCTION TeleMed Universal, (DLC) or (Digital Odeon Inc. is committed to respecting the privacy rights of its customers, visitors, and other users of the Company Website located at https://TeleMed Universal.com. We created this privacy policy to give you confidence as you visit and use the Site, and to demonstrate our commitment to fair information practices and the protection of privacy. This Privacy Policy is only applicable to the Site, and not to any other websites that you may be able to access from the Site, each of which may have data collection, storage, and use practices and policies that differ materially from this Privacy Policy.  <br><strong>2. INFORMATION COLLECTION PRACTICES</strong></p>
			 <div align="left">
				   <ul type="disc" style="margin-left:25px;">
				     <li>
				     	<strong>2.1 TYPES OF INFORMATION COLLECTED</strong>
						<ul style="margin-left:25px;margin-top: 10px;">
							<li>
								<p><strong>(a) TRAFFIC DATA COLLECTED  </strong><br>We automatically track and collect the following categories of information when you visit our Site: (1) IP addresses; (2) domain servers; (3) types of computers accessing the Site; and (4) types of web browsers used to access the Site (collectively Traffic Data). Traffic Data is anonymous information that does not personally identify you but is helpful for marketing purposes or for improving your experience on the Site. We also use cookies and server-side suppressions to customize content specific to your interests and location, to ensure that the advertisements and content displayed are demographically and geographically relevant to you. </p>
							</li>
							<li>
								<p><strong>(b) PERSONAL INFORMATION COLLECTED  </strong><br>In order for you to access certain premium services and to purchase products that we offer via the Site, we require you to provide us with certain information that personally identifies you (Personal Information). Personal Information includes the following categories of information: (1) Contact Data (such as your name, mailing address, and e-mail address); and (2) Demographic Data (such as your zip code, age, race, gender). If you communicate with us by e-mail, post messages to any of our chat groups, bulletin boards, or forums, or otherwise complete online forms, surveys, or contest entries, any information provided in such communication may be collected as Personal Information.</p>
							</li>

							<li>
								<p><strong>(c) CHILDREN UNDER AGE 13  </strong><br> We do not knowingly collect or solicit Personal Information from anyone under the age of 13 or knowingly allow such persons to register with the Site or purchase from the Site. If you are under 13, please do not attempt to register with the Site or purchase products from the Site. If we learn that we have collected Personal Information from a child under the age of 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we have collected any Personal Information from a child under 13, please contact us by emailing info@digitalodeon.com.</p>
							</li>

						</ul>
				     </li>
				     <li>
				     	<strong>2.2 USES OF INFORMATION COLLECTED</strong>
						<ul style="margin-left:25px;margin-top: 10px;">
							<li>
								<p><strong>(a) COMPANY USE OF INFORMATION</strong><br>We use Contact Data to send you information about our company or our products or services, or promotional material from some of our partners, or to contact you when necessary. We use your account number to verify your qualifications for certain products or services. We use your Demographic Data and geographic data to customize and tailor your experience on the Site, displaying content that we think you might be interested in and according to your preferences.</p>
							</li>
							<li>
								<p><strong>(b) SHARING OF PERSONAL INFORMATION   </strong><br>We share certain categories of information we collect from you in the ways described in this Privacy Policy. We share Contact Data with other companies who may want to send you information about their products or services, unless you have specifically requested that we not share Contact Data with such companies. We also share Contact Data with our business partners who assist us by performing core services (such as hosting, fulfillment, or data storage and security) related to our operation of the Site. Those business partners have all agreed to uphold the same standards of security and confidentiality that we have promised to you in this Privacy Policy, and they will only use your Contact Data and other Personal Information to carry out their specific business obligations to Company. If you do not want us to share your Contact Data with any third parties, please email us at privacy@telehealthlive.com, but please understand that such a request will likely limit your ability to take advantage of all of the features and services we offer on the Site. In addition, we maintain a procedure for you to review and request changes to your Personal Information; this procedure is described in Section 3.1, below.</p>
							</li>

							<li>
								<p><strong>(c) USER CHOICE REGARDING COLLECTION, USE, AND DISTRIBUTION OF PERSONAL INFORMATION  </strong><br>You may choose not to provide us with any Personal Information. In such an event, you can still access and use much of the Site; however you will not be able to access and use those portions of the Site that require your Personal Information. If you do not wish to receive information and promotional material from us or from some of our partners, you may select the appropriate opt-out option each time we ask you for Personal Information.</p>
							</li>

						</ul>
				     </li>
			       </ul>
		      </div>
		      <p><strong>3. CONFIDENTIALITY AND SECURITY OF PERSONAL INFORMATION</strong><br>Except as otherwise provided in this Privacy Policy, we will keep your Personal Information private and will not share it with third parties, unless such disclosure is necessary to: (a) comply with a court order or other legal process; (b) protect our rights or property; or (c) enforce our Terms of Service. Your Personal Information is stored on secure servers that are not accessible by third parties. We provide you with the capability to transmit your Personal Information via secured and encrypted channels if you use a similarly equipped web browser.</p>
		      <div align="left">
				   <ul type="disc" style="margin-left:25px;">
				     <li><p><strong>3.1 USER ABILITY TO UPDATE PERSONAL INFORMATION</strong><br>At any time you may contact us by emailing info@digitalodeon.com in order to (a) request a copy of your Personal Information that we have already collected; (b) choose whether or not you wish us to send you information about our company, or promotional material from some of our partners; and/or (c) choose whether or not you wish for us to share your Personal Information with third parties</p>
				     </li>
				     <li><p><strong>3.2 LOST OR STOLEN INFORMATION</strong><br>You must promptly notify us if your credit card is lost, stolen, or used without permission. In such an event, we will remove that credit card number from your account and update our records accordingly.</p>
				     </li>
				 </ul>
			</div>
			 <p><strong>4. UPDATES AND CHANGES TO PRIVACY POLICY</strong><br>We reserve the right, at any time and without notice, to add to, change, update, or modify this Privacy Policy, simply by posting such change, update, or modification on the Site and without any other notice to you. Any such change, update, or modification will be effective immediately upon posting on the Site.</p>
			 <p align="left">&nbsp;</p>
			 <!-- DETAILS WITH LIST -->

			<div class="brief text-left">  

				

		  

			

				



			</div>

		</div> <!-- /END DETAILS WITH LIST -->



	</div> <!-- END ROW -->

	

</div> <!-- END CONTAINER -->



</section>