<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">TeleMed Universal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="inner">
    <div class="row">
        <div class="col">
            <a href="/purchase">Back to Select Plan</a>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-4">
            <img src="images/step1.jpg">
            <h3>STEP 1 – ENROLL HERE ONLINE</h3>
            <p>Simply complete the Enrollment Form.</p>
        </div>

        <div class="col-4">
            <img src="images/step2.jpg">
            <h3>STEP 2 – REGISTER YOUR INFORMATION ONLINE OR BY PHONE</h3>
            <p>When you receive your Welcome Letter within minutes of your Online Enrollment here, you will be provided
                with a Members-Only website address (URL) to input your zip code and date of birth. You will also be
                able to register by Phone by calling a Members-Only Toll-Free Number.</p>
        </div>

        <div class="col-4">
            <img src="images/step3.jpg">
            <h3>STEP 3– USE YOUR TeleMed Universal Membership</h3>
            <p>When you need nonemergency medical assistance just call the toll-free TeleMed Universal Doctor Number and
                request a phone or video conference with a Board Certified US doctor in your state.</p>
        </div>

    </div>
</div>
<br>
<div class="inner">
    <div class="row">
        <div class="col text-center">
            <img src="images/auth-net.png">
            <img src="images/cc.png">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-center">
            <h3>Payment Details</h3>
        </div>
    </div>
    <form id="purchase-form">
        <div class="inner">
            <div class="row">
                <div class="col">
                    Card Holder's Name
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="cardName" name="cardName" type="text" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Valid Card Number
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="cardNumber" name="cardNumber" type="text" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Expiration Date
                </div>
                <div class="col-6">
                    CVC
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <input id="expMonth" name="expMonth" type="text" placeholder="MM">
                </div>
                <div class="col-3">
                    <input id="expYear" name="expYear" type="text" placeholder="YY">
                </div>
                <div class="col-6">
                    <input id="cvc" name="cvc" type="text" placeholder="ex. 111">
                </div>
            </div>
        </div>
    </form>
</div>

<footer>

</footer>



<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>