<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">TeleMed Universal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About Us</a>
            </li>
        </ul>
    </div>
</nav>

<div id="selectPlan">
<div class="text-center">
    <h3>Select Your Plan</h3>
</div>
<div class="text-center">Little More Than $1/DAY for You and Your Family -- UNLIMITED USAGE!
NO "PER CALL" DOCTOR FEES, COPAYS OR DEDUCTIBLES!</div>

<table>
            <tr class="monthly-plan selected-plan">
              <td>MONTHLY PLAN</td>
              <td class="text-right" align="right">
                <span class="custom-price">$49.00</span>
                <span><button id="price-selector">Select</button></span>
              </td>
            </tr>
            <tr class="quarterly-plan">
                <td><strong style="color:red;">SPECIAL BONUS OFFER: QUARTERLY PLAN!</strong><br><span>GET ONE-MONTH FREE</span><br><p>(You receive 3-Months Membership for the <br> Standard Price of 2-Months at $49/Month)</p></td>
            <td class="text-right" align="right">
                <span class="custom-price">$98.00</span>
                <span><button id="price-selector">Select</button></span>
            </td>
            </tr>                
</table>

<div class="text-center">
    <a href="/purchase-confirm"><button id="continue-btn">Continue</button></a>
</div>
</div>

<footer>

</footer>



	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
