<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">TeleMed Universal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="inner">
    <div class="row">
        <div class="col">
            <a href="/purchase"><button>Back to Select Plan</button></a>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-4">
            <img src="images/step1.jpg">
            <h3>STEP 1 – ENROLL HERE ONLINE</h3>
            <p>Simply complete the Enrollment Form.</p>
        </div>

        <div class="col-4">
            <img src="images/step2.jpg">
            <h3>STEP 2 – REGISTER YOUR INFORMATION ONLINE OR BY PHONE</h3>
            <p>When you receive your Welcome Letter within minutes of your Online Enrollment here, you will be provided
                with a Members-Only website address (URL) to input your zip code and date of birth. You will also be
                able to register by Phone by calling a Members-Only Toll-Free Number.</p>
        </div>

        <div class="col-4">
            <img src="images/step3.jpg">
            <h3>STEP 3– USE YOUR TeleMed Universal Membership</h3>
            <p>When you need nonemergency medical assistance just call the toll-free TeleMed Universal Doctor Number and
                request a phone or video conference with a Board Certified US doctor in your state.</p>
        </div>

    </div>
</div>
<br>
<div class="inner">
    <table>
        <tr class="monthly-plan selected-plan">
            <td id="variablePlan"></td>
            <td class="text-right" align="right">
                <span id="variablePrice" class="custom-price"></span>
            </td>
        </tr>
        <tr class="quarterly-plan">
            <td>One-Time Non-Refundable Enrollment Fee</td>
            <td class="text-right" align="right">
                <span class="custom-price">$20.00</span>
            </td>
        </tr>
        <tr>
            <td><strong>Total</strong></td>
            <td id="variableTotal" class="text-right kcartGrandTotal" align="right"></td>
        </tr>
    </table>
</div>
<div class="inner">
    <div class="row">
        <div class="col text-center">
            <img src="images/auth-net.png">
            <img src="images/cc.png">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-center">
            <h3>Payment Details</h3>
        </div>
    </div>
    <form id="purchase-form">
        <div class="inner">
            <div class="row">
                <div class="col">
                    Card Holder's Name
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="cardName" name="cardName" type="text" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Valid Card Number
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="cardNumber" name="cardNumber" type="text" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Expiration Date
                </div>
                <div class="col-6">
                    CVC
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <input id="expMonth" name="expMonth" type="text" placeholder="MM">
                </div>
                <div class="col-3">
                    <input id="expYear" name="expYear" type="text" placeholder="YY">
                </div>
                <div class="col-6">
                    <input id="cvc" name="cvc" type="text" placeholder="ex. 111">
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col text-center">
            <h3>Billing Address/Enrollment Form</h3>
        </div>
    </div>
    <form id="purchase-form">
        <div class="inner">
            <div class="row">
                <div class="col-6">
                    First Name
                </div>
                <div class="col-6">
                    Last Name
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <input id="enrollFirstName" name="enrollFirstName" type="text" placeholder="First Name">
                </div>
                <div class="col-6">
                    <input id="enrollLastName" name="enrollLastName" type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Address 1
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollAddressOne" name="enrollAddressOne" type="text" placeholder="Address Line 1">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Address Line 2
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollAddressTwo" name="enrollAddressTwo" type="text" placeholder="Address Line 2">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    City
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollCity" name="enrollCity" type="text" placeholder="City">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    State
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select name="state" isrequired="" placeholder="State" style="display: inline-block;">
                        <option value="">Select State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                        <option value="AS">American Samoa</option>
                        <option value="FM">Federated States of Micronesia</option>
                        <option value="GU">Guam</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="MH">Republic of Marshall Islands</option>
                        <option value="VI">Virgin Islands of the U.S.</option>
                        <option value="AE">Armed Forces Middle East</option>
                        <option value="AA">Armed Forces Americas</option>
                        <option value="AP">Armed Forces Pacific</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Country (TeleMed Universal is only offered in the United States at this time)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollCountry" name="enrollCountry" type="text" placeholder="Country">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Zip Code
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollZipCode" name="enrollZipCode" type="text" placeholder="Postal Code">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Email
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollEmail" name="enrollEmail" type="text" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Phone
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollPhone" name="enrollPhone" type="text" placeholder="Phone Number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Date of Birth
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="enrollBirthday" name="enrollBirthday" type="date" placeholder="Date of Birth">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Gender
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select isrequired="" required="required" name="gender">
                        <option value="" selected="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
        </div>
    

    <h3>ACCEPTANCE:</h3>
    <h5>By submitting my Enrollment, I accept the TeleMed Universal Terms and Conditions and Privacy Policy. I understand that my plan will start today when my transaction is successful. I understand that TeleMed Universal services may require an additional validation process and until complete – I will initially be enrolled in a TeleMed Universal plan without medical diagnostic features will be activated upon my submission of medical history to the doctor network.</h4>
    <h5>Click <a style="text-decoration: underline;" href="/terms-and-conditions">here</a> to view complete Terms & Conditions</h5>

    <input type="checkbox" id="consent" name="consent" value="">
    <label for="consent">I am over 18 and I have read, understand and agree to the terms of the offer above.</label>
    </form>
    <div class="text-center">
	<button id="submitOrder">Submit Order</button>
    </div>
</div>
<br>
<footer>
    <div class="inner">
        <div class="row">
            <div class="col-4 text-center">
                TERMS & CONDITIONS
            </div>
            <div class="col-4 text-center">
                <a href="/privacy">PRIVACY POLICY</a>
            </div>
            <div class="col-4 text-center">
                <a href="/refund-policy">REFUND POLICY</a>
            </div>
        </div>
    </div>
</footer>


<script>
    if (sessionStorage.getItem('plan') == 'month') {
        $('#variablePlan').html("MONTHLY PLAN");
        $('#variablePrice').html("$49.00");
        $('#variableTotal').html("$69.00");
    } else {
        $('#variablePlan').html("BONUS: GET ONE-MONTH FREE EACH QUARTER");
        $('#variablePrice').html("$98.00");
        $('#variableTotal').html("$118.00");
    }
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>