<section class="section1" id="section1">



        <div class="container">

            <div class="row">







                <div class="col-md-11">

                 
          
            <h1 align="center">REFUND POLICY AND BILLING DETAILS:</h1>              
            <h3 align="center">Upon enrollment TeleMed Universal will charge your Monthly Plan or Quarterly Plan Membership to your provided credit or debit card.</h3>
          

          <p>
            On the 30 day or 90-day anniversary of your Monthly or Quarterly Plan Membership, you authorize us to charge your payment method the applicable Monthly Plan (every 30 days) membership fee of $49 or Quarterly Plan (every 90 days) membership fee of $98, until cancelled. If you wish to CANCEL your membership you may do so at anytime.If you enrolled in the Quarterly Plan you are receiving a FREE MONTH with each Quarterly (90 Day) period you will continue to the end of that period at which time your membership and
            benefits will expire. The benefits of the TeleMed Universal Membership may be enhanced or modified at any time
            without prior notice. If you are not completely satisfied, simply email us at cancel@digitalodeon.com to Cancel
            your membership. No further charges will be made to your provided payment method, and there will be no
          further obligation.</p>
        

                </div> <!-- /END DETAILS WITH LIST -->



            </div> <!-- END ROW -->



        </div> <!-- END CONTAINER -->



    </section>