<link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<body class="subpage">
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">TeleMed Universal</a>
					<nav id="nav-signup">
						<a href="/">Home</a>
						<a href="/#one">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>TeleMed Universal Monthly Subscription</h2>
					</header>
					<p>TeleMed Universal Monthly Subscription is a Membership Plan. We will charge your $24.99 Monthly Plan Membership to your payment card upon enrollment. On each subsequent 30-Day Monthly Plan renewal period $24.99 until cancelled. TeleMed Universal is marketed by Digital Odeon Inc. and Calls Marketing Corporation.</p>
						<table class="alt">
							<tbody>
								<tr>
									<td>
										Recurring Monthly Subscription Plan
									</td>
									<td>
										$24.99
									</td>
								</tr>
							</tbody>
						</table>
					<footer class="align-center">
						<a href="/purchase" class="button Special">Enroll Now</a>
					</footer>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="copyright">
							TeleMed Universal LLC
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/telemeduniversal" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://twitter.com/TeleMedSupport" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.instagram.com/telemeduniversal/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
						<ul class="legal">
							<li><a class= "legal" href="/terms-conditions">/ TERMS & CONDITIONS /</a><a class= "legal" href="/privacy"> PRIVACY POLICY /</a><a class= "legal" href="/refund-policy"> REFUND POLICY /</a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>