<body style="">

<!-- =========================

     PRE LOADER       

============================== -->





<!-- =========================

     HEADER   

============================== -->

<header id="home">



<!-- COLOR OVER IMAGE -->

<div class="color-overlay">

	

	

	

	<!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->

	<div class="container">

		

		<div class="row">

			

			<!-- LEFT - HEADING AND TEXTS -->

			<div class="col-md-10 col-md-offset-1" style="margin-top:37px; margin-bottom:37px;">
            <div class="ktemplate_header" align="center">
            <!--    <h1> <img src="img/logo.png" alt="" style="margin-top:10px"> </h1> -->
            </div>
			

				


				

				

	

				

				


				

			</div>



		</div>

		

	</div>

	<!-- /END HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->

	

</div>



</header>





<!-- =========================

     SECTION 1   

============================== -->




<section class="section1" id="section1">



<div class="container">

	<div class="row">

		

	

		

		<div class="col-md-11">

			 <h1 align="center">TeleMed Universal Terms &amp; Conditions</h1>
			 <p align="left">TeleMed Universal is a membership program providing Telemedicine Services inclusive but not limited to 24/7 Physician access.  This advertisement constitutes an offer or solicitation for these services and may or may not be available in your state. The offers and states in which these services are available may change periodically without notice. This offer may require a contractual commitment.<br>
  </p><p align="left"> <strong>OFFER AND BILLING DETAILS:</strong>
			Upon enrollment TeleMed Universal will charge your first month’s membership fee of $39 to your provided credit or debit card.  On the 30-day anniversary of your enrollment you authorize us to charge your payment method the applicable standard monthly (every 30 days) or quarterly (every 90 days) membership fee of $39 ($78) until cancelled. The benefits of the TeleMed Universal Membership may be enhanced or modified at any time without prior notice. If you are not completely satisfied, simply call TeleMed Universal at 800-611-9611 or log into your account at TeleMed Universal.info and click the Cancel link.  No further charges will be made to your provided payment method.</p>
			 <p align="left">In order to enroll and receive membership benefits you must agree to receive electronic mail communications and you consent to do so by clicking "Submit" on the enrollment page, or verbally agree if enrolling by phone. You may withdraw this consent by cancelling your membership at cancel@telemed universal.com..<br>
           
	      </p>
			<br>
			   <p></p>
	      
			<div class="brief text-left"> 
			</div>

		</div> <!-- /END DETAILS WITH LIST -->



	</div> <!-- END ROW -->

	

</div> <!-- END CONTAINER -->



</section>










<!-- =========================

     SECTION 4   

============================== -->



<!-- =========================

     SECTION 5   

============================== -->





<!-- =========================

     SECTION 6   

============================== -->





<!-- =========================

     SECTION 7  

============================== -->







<!-- =========================

     SECTION 8 - CTA  

============================== -->





<!-- =========================

     SECTION 9 - CONTACT US  

============================== -->



<!-- =========================

     SECTION 10 - FOOTER 

============================== -->

<footer class="bgcolor-2">

<div class="container">

	


	<div class="copyright">

		<p>© TeleMed Universal, a brand of Health Med Inc. All Rights Reserved.</p>



	<p></p>

				</div>

	



	

</div>

</footer>
